<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="testServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="TestService.TestService" behaviorConfiguration="testServiceBehavior">
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:4321/TestService"/>
                    </baseAddresses>
                </host>
                <endpoint address="" binding="basicHttpBinding" contract="TestService.ITestService"/>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
            </service>
        </services>
    </system.serviceModel>
</configuration>